metal
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Archivos temporales
*.swp
*~

# Configuraciones Eclipse
.settings/
.project
.cproject
/Debug/


Cliente/log.txt
Servidor/log.txt
src/Cliente/log.txt
src/Servidor/log.txt
C

D
C
C
C
src/Se
